.ViewDetails{
    transform: translate();
    transition: all 0.3s ease-in;
}

.Orders{
    background-color: rgb(245, 182, 130);
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 6px;
    margin: auto;
}
