.Order{
    width: 600px;
    background-color: rgb(243, 209, 158);
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgb(231, 195, 147);
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    text-align: left;
}

p{
    padding: 8px;
    margin: 4px;
}
.Order:hover{
  color: #f2f2f2;
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
  opacity: 1;
  background: #e2a9e5;
  background: -moz-linear-gradient(-45deg, #dab584 15%, #b38137 100%);
  background: -webkit-linear-gradient(-45deg, #dab584 15%,#b38137 100%);
  background: linear-gradient(135deg, #dab584 15%,#b38137 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
  transform: translate(-20px, -20px);
  transform:  rotate(10deg);
}

.Order button{
    background: none;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.Order button:hover{
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

a{
    padding: 20px 0;
    text-decoration: none;
    color: black;
}

.tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #DC7A36;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  span{
      font-style: italic;
      padding: 2px;
  }