.Sidebar{
    position: fixed;
    height: 100%;
    width: 60%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: cornsilk;
    padding: 12px 24px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px){
    .Sidebar{
        display: none;
    }
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}