.Contact{
    background-color: #DC7A36;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #DC7A36;
    border-radius: 8px;
    margin: 40px auto auto auto;
    padding: 20px;
    text-align: center;
}


  
  .login-box {
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
  }
  
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color:rgba(247, 243, 241, 0.541);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 4px;
    border: none;
  }
  
  .login-box button:hover {
    background: #fff;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff,
                0 0 25px #fff,
                0 0 50px #fff,
                0 0 100px #fff;
    cursor: pointer;
  }


.login-box button:disabled {
    cursor: not-allowed;
    background:none;
    border-radius: 5px;
    box-shadow: none;
  }

select{
  margin: 10px 200px 0 0;
  padding: 5px;
  border-radius: 2px;
  font-weight: bold;
  background-color: burlywood;
}


  